.users {
    margin: 15px 45px;
}

.usersLoader {
    flex: none;
    margin: 150px 4px;
    padding: 45px;
}

.usersLoader span {
    margin: 5px 15px;
    font-size: large;
}

.title, .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 45px 0;
}