
.header {
    grid-area: h;
    background-color: whitesmoke;
}

.title {
    font-size: 65px;
    margin: 20px;
}

.header img {
    width: 55px;
}

.loginBlock {
    float: right;
    padding: 25px;
}

.loginBlock a {
    color: lavenderblush;
}

.loginBlock h2 {
    margin: 0 15px;
}