
.navbar {
    grid-area: n;
    background-color: white;
}

.item a {
    color: black;
    font-size: large;
}

.item svg {
    font-size: 1.3em;
    margin-right: 0.2em
}

.item a.active {
    color: cadetblue;
}