
.navbar {
    grid-area: n;
    background-color: white;
}

.item a {
    color: black;
    font-size: large;
}

.item svg {
    font-size: 1.3em;
    margin-right: 0.2em
}

.item a.active {
    color: cadetblue;
}

.friends {
    position: relative;
    top: 100px;
    margin: 0 15px;
}
.friends h2 {
    text-align: center;
}

.avatars {
    display: flex;
    flex-wrap: wrap;
}

.avatar {
    margin: 0.5em;
}