.dialogs {

    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: aliceblue;

}

.dialogItems {

    padding: 10px;
    height: 1200px;

}

.dialogItems .active {
    color: gold;
}

.dialog {
    padding: 5px

}

.dialog span {
    color: black;
    margin: 0 5px;
    font-size: medium;
}

.messages {

}

.message {
    padding: 10px;
}